.Form-container{
  display: flex;
  flex-wrap: wrap; /* Pour permettre aux cartes de s'enrouler si l'espace est insuffisant */

}
.btn-add{
  margin: 1%;
  padding-left: 71%;
}
.btn-success{
  margin: 1%;
  
}
.title{
  padding-left: 66%;
}
.table-aff{

margin-right: 25%;
  text-align: center;
 margin-top: 4%;
 
  
}
.col-butt{
  width: 50%;
}